@charset "utf-8";

* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
    height: 100%;
    font-size: 12px;
}

.plate {
    position: relative;
    width: 100%;
    height: 100%;
}

$flyout-width: 32%;
$flyout-time: 400ms;

.flyout {
    position: absolute;
    width: $flyout-width; height: 100%;
    top:0; left:0; bottom:0;
    padding: 2em;
    overflow: auto;

    transition: left $flyout-time ease;
    [data-flyout-state=hidden] & { left: -$flyout-width; }

    & > * + * { margin-top: 1em; }
    h1, h2 { 
        text-align: center;
        small { opacity: 0.5; font-size: 0.75em; font-weight: normal; }
    }
    h2 { font-size: 1.25em; opacity: 0.75; }
    ul { padding-left: 1em; }
    li + li { margin-top: 0.5em; }
}

.flyout-toggle-button {
    position: absolute;
    top:0; right:0;
    cursor: pointer;
    padding: 0.5em;

    .app & {
        right: auto;
        left: 0;
        z-index: 1;
    }
}

.app {
    position: absolute;
    width: 100% - $flyout-width; height: 100%;
    top:0; right:0; bottom:0;

    transition: width $flyout-time ease;
    [data-flyout-state=hidden] & {
        width: 100%;
    }
}

[paste-safe] {
    position: absolute;
    top:0; bottom:0; left:0; right:0;
    width: 100%; height: 100%;
    padding: 10%;
    margin: auto;
    textarea { resize: none; }

    .controls {
        display: table;
        width: 100%; height: 10%;
        text-align: center;
        .cell {
            vertical-align: middle;
            display: table-cell;
        }
        .cell.mode-button {
            cursor: pointer;
            font-weight: bold;
        }
        .passbox {
            display: block;
            position: relative;
            width: 100%; height: 100%;
            .tooltip {
              z-index: 1;
              position: absolute;
              bottom: 80%; right: 10%;
              width: 80%;
              padding: 0.5em;
            }
        }
        .password {
            border: none;
            width: 100%; height: 100%;
            text-align: center;
            font-size: 1.2em;
        }
        .mode-button {
            font-size: 1.5em;
        }
    }

    .text-input, .text-output {
        display: block;
        position: relative;
        width: 100%; height: 45%;
        padding: 2%;
        border: none;
    }
    .text-output {
        height: 40%;
        // word-wrap: break-word;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }

    .linkbox {
        display: block;
        width: 100%; height: 5%;
        text-align: center;
        padding: 1em;
        a {
            padding: 0.5em;
            border-radius: 4px;
            overflow: hidden;
        }
    }

    .tooltip {
        display: none;
        &[data-show] { display: block; }
    }
}

///////////////// Layout Above / Appearance Below ////////////////////////////

$color-background: #222;
$color-flyout: #EEE;

$color-highlight: #F50;
$color-link: #2C89FF;
$color-tooltip: transparentize(#F80, 0.05);
$color-tooltip-text: white;

$color-controls: #EEE;
$color-mode-button: mix($color-controls, $color-background, 75%);
$color-mode-button-text: #FFF;
$color-active-mode: #2B6;
$color-password: transparent;

$color-input: #FFF;
$color-input-text: #666;
$color-output: transparent;
$color-output-text: mix(white, $color-background, 50%);

$color-link-background: transparentize(white, 0.9);

html {
    font-family: sans-serif;
}

*::selection {
    background: transparentize($color-highlight, 0.5);
}

.flyout {
    background: $color-flyout;
    color: transparentize($color-background, 0.2);
}

.flyout-toggle-button {
    transition: opacity 400ms ease;
    opacity: 0.4;
    &:hover { opacity: 0.9; text-decoration: underline; }
    &:active { opacity: 1; color: $color-highlight; }
    .app & {
        color: $color-flyout;
    }
    [data-flyout-state=active] .app & {
        opacity: 0;
    }
}

[paste-safe] {
    background: $color-background;

    .controls *, .text-input, .text-output {
        & {
            outline: 3px solid transparent;
            transition: outline 200ms ease;
        }
        &:focus {
            outline: 3px solid $color-highlight;
        }
    }

    .controls {
        background: $color-controls;
        .mode-button {
            background: $color-mode-button;
            color: $color-mode-button-text;
            text-shadow: 1px 2px 3px rgba(0,0,0, 0.3);
            &[data-checked] {
                background: $color-active-mode;
            } 
        }
        .password {
            background: $color-password;
            font-family: Consolas, monospace;
            color: $color-highlight;
            font-weight: bold;
        }
    }

    .text-input {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .text-output {
        background: $color-output;
        color: $color-output-text;
    }

    .output-blocker {
        background: transparentize($color-background, 0.8);
        color: #CCC;
        li {
            font-size: 1.4em;
        }
        &[data-mode=error] {
            color: $color-highlight;
        }
    }

    .linkbox {
        a {
            text-decoration: none;
            background: transparent;
            color: $color-link;

            &[data-show] {
                background: $color-link-background;
            }

            transition: color 200ms ease;
            &:hover { color: lighten($color-link, 10%); }
            &:active { color: $color-highlight; }
        }
    }

    .tooltip {
        background: $color-tooltip;
        color: $color-tooltip-text;
        border-radius: 8px;
        box-shadow: 1px 2px 3px rgba(0,0,0, 0.15);
        text-shadow: 1px 1px 2px rgba(0,0,0, 0.1);
    }
}